* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header section  */
.header-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #F1F1F1;
    position: fixed;
    width: 100%;
    top: 0rem;
}
.container-1-1 {
    display: flex;
    flex-basis: 40%;
}
.container-1-2 {
    display: flex;
    flex-basis: 60%;
}
.container-1-1 img {
    width: 80%;
    height: 60%;
}
.a {
    display: flex;
    align-items: center;
    position: relative;
    left: 3rem;
    padding: .25rem;
}
.item {
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.container-1-2 ul {
    list-style-type: none;
}
.container-1-2 ul li {
    float: left;
}
.container-1-2 ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.container-1-2 ul li a:hover {
    color: #000;
}

/* Home section  */
.home-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 4rem;
    padding: 2rem 1rem 0rem 1rem;
}
.home-container .container-1-1 {
    flex-basis: 50%;
    display: flex;
    flex-flow: column wrap;
    padding: 8rem 2.5rem;
}
.text {
    text-transform: uppercase;
    padding: .2rem 0rem;
}
.header-text {
    color: orangered;
    font-size: 2rem;
}
.home-container .container-1-1 p {
    padding: 1rem 0rem;
    text-align: justify;
}
.home-container .container-1-1 .btn {
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: rgb(240, 76, 16);
    padding: 1rem 2rem;
    border-radius: .2rem;
    font-size: 1rem;
    cursor: pointer;
}
.home-container .container-1-1 .btn:hover {
    background-color: orangered;
}
.home-container .container-1-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.home-container .container-1-2 .image {
    width: 70%;
    height: 70%;
}
.home-container .container-1-2 img {
    width: 110%;
    height: 100%;
    object-fit: contain;
}
.about-container {
    margin-top: 0rem;
    padding: 3rem 1rem 0rem 1rem;
} 
.fa-solid {
    padding: 0rem .5rem;
    font-size: 1.1rem;
}
.btn-download {
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: rgb(240, 76, 16);
    padding: 1rem 1rem;
    border-radius: .2rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Work section  */
.work-container {
    background-color: #f1f1f1;
}
.work-container .container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 3rem 0rem 7rem;
}
.work-container .container h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 3rem 0rem;
    color:rgb(234, 69, 9);
    font-size: 2rem
}
.work-container .container span {
    color: #fff;
    background-color: teal;
    padding: .25rem .5rem;
    border-radius: .25rem;
}
.work-container .container .card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.work-container .container .card div {
    width: 20%;
    margin: .5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15)
    0px 1px 3px 1px;
    background-color: #fff;
    border-radius: .2rem;
    padding: .5rem
}
.work-container .container .card div img {
    width: 100%;
}
.work-container .container .card div h4 {
    color: teal;
    font-size: .95rem;
    padding: .5rem 0rem;
    text-align: center;
}
.work-container .container .card div p {
    padding: .25rem 0rem .5rem;
}

/* Contact section  */
.contact-section {
    padding: 4rem;
}
.contact-section .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.contact-section .container .first {
    flex-basis: 40%;
}
.contact-section .container .second {
    flex-basis: 40%;
}
.form {
    width: 80%;
    margin: auto; 
    padding: 1rem;
    background-color: rgb(214, 218, 219);
}
.form h2 {
    text-transform: uppercase;
}
.contact-section .container img {
    width: 100%;
}
.input-group {
    position: relative;
    margin: 20px 0px;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    padding: 0px 5px;
    pointer-events: none;
    transition: .2s;
}
.input-group input {
    width: 90%;
    height: 40px;
    font-size: 1rem;
    color: #000;
    padding: 0rem 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    color: teal;
    background-color: rgb(214, 218, 219);
}

.input-group input:focus {    
    border: 2px solid teal;
}

textarea {
    border: none;
    width: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15)
    0px 2px 6px 2px;
    border-radius: 5px;
    resize: vertical;
    padding: .25rem;
    font-size: 1rem;
    color: #000;
    padding: 10px;
}
textarea:focus {
    border: none;
    outline: none;
}

/* Footer section  */
.footer-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.icon .fa-brands {
    color: rgb(37, 154, 154);
    font-size: 1.2rem;
    padding: .4rem;
}
.icon .fa-brands:hover {
    color: teal;
}
.footer-container p {
    font-size: .7rem;
    padding: 1rem .1rem;
}
.footer-container .icon {
    display: flex;
    justify-content: center;
}


/* Responsive section  */
@media (max-width: 992px) {
    .work-container .container .card {
        display: flex;
        flex-flow: row wrap;
    }
    .work-container .container .card div {
        width: 27%;
        margin: .5rem;
        padding: .5rem
    }
}
@media (max-width: 768px) {
    /* Head section  */
    .header-container {
        flex-flow: column wrap;
        position: static;
    }
    .item {
        justify-content: start;
        padding: .01rem;
    }
    .a {
        position: relative;
        left: .25rem;
    }
    .container-1-2 ul {
        width: 90%;
        margin-left: .5rem;
    }
    .container-1-2 ul li {
        float: none;
    }
    .container-1-2 ul li a {
        color: #333;
        text-decoration: none;
        padding: .5rem .25rem;
    }
    .container-1-2 ul li a:hover {
        background-color: #999;
        color: #fff;
        border-radius: .2rem;
    }

    /* Home section  */
    .home-container {
        flex-flow: column wrap;
        margin-top: 0rem;
        padding: 1rem 0rem;
    }
    .home-container .container-1-1 {
        padding: 1rem;
    }
    .header-text {
        font-size: 1.6rem;
    }
    .home-container .container-1-1 p {
        padding: 1rem 0rem;
        text-align: left;
    } 
    .home-container .container-1-2 img {
        width: 100%;
        height: 100%;
    } 
    
    /* Work section  */
    .work-container .container .card {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    .work-container .container .card div {
        width: 50%;
        margin: .5rem;
        padding: .5rem
    }
    .contact-section .container .first {
        background-color: red;        
        display: none;
    }
    .contact-section .container .second {
        flex-basis: 100%;
    }
}
@media (max-width: 400px) {
    .work-container .container .card div {
        width: 90%;
        margin: .5rem;
        padding: .5rem;
    }
    .input-group input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .contact-section {
        padding: 4rem 0rem;
    }
    .form {
        padding: 1rem .2rem;
    }
}
